.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  /* right: 0; */
  /* left: 0; */
  background: rgba(0, 0, 0, 0.3);
}


.modal {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 300px auto; */
    max-width: 350px;
    padding: 30px;
    background-color: blanchedalmond;
    color: chocolate;
    border-radius: 10px;
    opacity: 0.9;
} 


button {
    padding:5px 10px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    background:chocolate;
    opacity: 1;
}
