.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Pages CSS */
.page {
  height: 100%;
  min-width: 100%;
  flex: 1 1 100%;
  font-size:2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page.dark {
  background-color: black;
  color: whitesmoke;
}
