.page {
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page h1 {
    color: pink;
}

 /* tranform first letter to uppercase  */
.page h1:first-letter {
    text-transform: uppercase;
}


.link-button, button {
    padding: 5px 10px;
    margin: 10px;
    background: blueviolet;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
}

.link-button:hover,
button:hover {
    opacity: 0.8;
}
