.navbar-container {
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 60px;
  color: whitesmoke;
}

.logo {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.logo:hover{
  transform: rotate(-10deg);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.nav-item {
  margin: 10px;
  padding: 5px 10px;
  padding-inline-start: 0px;
  list-style-type: none;
  font-weight:500;
  font-size:1.2rem;
  transition: all 1s ; /* Allow the hover to fade in*/
}

.nav-item:hover {
  font-weight:bold;
  text-decoration: underline;
  filter: brightness(200%);
}

/* The active class is automatically created when NavLink is clicked */
.active {
  color: red;
  text-decoration: underline;
}

/* NavLinks turn into <a> tags */
a {
  color: whitesmoke;
  text-decoration: none;
}
